- @tracks.track.each do |track|
  %li{:artist=>track.artist.name,:track=>track.name}
    = track.name
    %span by
    - artist = track.artist.respond_to?(:name) ? track.artist.name : track.artist
    = link_to trimString(artist, 50), "#!/artists/#{CGI.escape(artist)}"