- @artists.artist.each do |artist|
  %li 
    - @link = "#!/artists/#{CGI.escape(artist.name)}"
    .img= link_to image_tag(validate_img_url(artist.image, "artist", :large)), @link
    .text
      %h2= link_to artist.name, @link
      %p
        = artist.listeners+" Listeners"