.box#search_bar
  = form_tag '/search', :method => 'get', :id => "search_bar_form", :remote=>true do
    = text_field_tag 'q', params[:q], :class => "text", :placeholder => "Search here ..."
    = link_to image_tag(image_path("icons/search.png"), :class=>"button"), "/#!/search"
