/*********************************/
/************ LAYOUT *************/
/*********************************/

#top_artist {
  position: relative;
  width: 500px;
  height: 270px;
  background: url('#{$ico-url}/loading.gif') no-repeat 50% 50%;
  overflow: hidden;
  float: left;

  img {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    max-width: 500px;
    max-height: 270px; overflow: hidden;
  }
  .nivo-controlNav {
    position:absolute;
    bottom:-70px; /* Put the nav below the slider */
  }
 .nivo-controlNav img {
    display:inline; /* Unhide the thumbnails */
    position:relative;
    margin-right:10px;
  }
}
#top_artist_nav {
  float: right;
  li, a, img {
    width: 150px;
    height: 199px;
    display: inline-block;
    float: left;
  }
  a, img { position: absolute; }
  .ll img, .rr img { opacity: 0.4 }
  .ll { background: url('#{$ico-url}/home-left.png') }
  .rr { background: url('#{$ico-url}/home-right.png') }
}