@charset "utf-8";
/**FONTS */

@font-face{ 
	font-family: AauxNextLight;
	src: url('../fonts/aauxnext/aauxnext-lt-webfont.eot');
	src: local('☺'),
       url('../fonts/aauxnext/aauxnext-lt-webfont.ttf') format("truetype"),
       url('../fonts/aauxnext/aauxnext-lt-webfont.otf') format("opentype"),
       url('../fonts/aauxnext/aauxnext-lt-webfont.woff') format("woff"),
	     url('../fonts/aauxnext/aauxnext-lt-webfont.svg#webfont') format("svg");
}
@font-face{ 
	font-family: AauxNextMedium;
	src: url('../fonts/aauxnext/aauxnext-md-webfont.eot');
	src: local('☺'),
       url('../fonts/aauxnext/aauxnext-md-webfont.ttf') format("truetype"),
       url('../fonts/aauxnext/aauxnext-md-webfont.otf') format("opentype"),
       url('../fonts/aauxnext/aauxnext-md-webfont.woff') format("woff"),
	     url('../fonts/aauxnext/aauxnext-md-webfont.svg#webfont') format("svg");
}
@font-face{ 
	font-family: AauxNextBold;
	src: url('../fonts/aauxnext/aauxnext-bd-webfont.eot');
	src: local('☺'),
       url('../fonts/aauxnext/aauxnext-bd-webfont.ttf') format("truetype"),
       url('../fonts/aauxnext/aauxnext-bd-webfont.otf') format("opentype"),
       url('../fonts/aauxnext/aauxnext-bd-webfont.woff') format("woff"),
	     url('../fonts/aauxnext/aauxnext-bd-webfont.svg#webfont') format("svg");
}


/** STANDARDS **/
body
{
    background: #fff url('../images/bg/overall2.png') repeat-y top center;
    /* background: white; */
    font-size: 14px;
    color: #7d8791;
}
* html body { text-align: center; }
.clean { clear: both; }
.left { float: left; }
.right { float: right; }
* { font-family: AauxNextMedium, "Segoe UI", Arial, sans-serif; }
.light { font-family: AauxNextLight, "Segoe UI", Arial, sans-serif; }
.medium { font-family: AauxNextMedium, "Segoe UI", Arial, sans-serif; }
.bold, b, strong { font-family: AauxNextBold, "Segoe UI", Arial, sans-serif; font-weight: normal!important; }

a { text-decoration: none; color: #7d8791; }

.blue { color: #027bbf!important; }

.radius
{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/** PLAYLIST **/
#playlist-container
{
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 274px;
  max-width: 274px;
  min-height: 50px;
  max-height: 400px;
  background-color: white;
  border: 1px solid #dfe4e8;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  z-index: 500;
}

#playlist-navigation { margin: 5px 5px 3px; }

#playlist-navigation div
{
  display: block;
  background-color: #f9f9f9;
  border: 1px solid #dfe4e8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 2px 3px;
  height: 24px; line-height: 24px;
  margin-right: 3px;
  width: 78px;
  text-align: center;
  float: left;
  cursor: default;
  font-family: AauxNextBold, "Segoe UI", Arial, sans-serif; 
}

#playlist-navigation div:hover { color: #027bbf; }

#playlist-navigation div:last-child { margin-right: 0; }

#playlist { overflow: hidden; padding: 5px 7px; }

#playlist li
{
  position: relative;
  height: 26px; line-height: 26px;
  border-bottom: 1px dotted #dce2e6;
  font-size: 11px;
  padding: 0 3px;
  overflow: hidden;
}

#playlist li:last-child { border-bottom: 0; }

#playlist .delete-handle
{ 
  width: 18px;
  height: 18px;
  margin: 1px 0 6px -4px;
  vertical-align: middle;
  cursor: pointer;
}

#playlist .drag-handle
{ 
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 0;
  vertical-align: middle;
  padding-left: 3px;
  cursor: move!important;
  background-color: white;
}

#playlist li span 
{ 
  color: #027bbf;
  font-size: 13px;
}


/** SITE **/
#site
{
  position: relative;
  width: 950px;
  margin: 0 auto;
  padding-bottom: 70px;
}
#head { height: 140px; }
#head h1 { padding-top: 55px; float: left; }
#search_form { position: relative; }
#search_form .wrap
{
  width: 400px; /* 300 + 28*/
  height: 38px;
  margin-top: 50px;
  border: 1px solid #dfe4e8;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  overflow: hidden;  
}
#search_form .input
{
  height: 28px;
  width: 250px;
  border: 0;
  margin-top: 5px;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  padding-left: 15px;
  cursor: text;
  background: transparent;
  font-size: 16px;
}
#search_form .input:focus { outline: 0!important;}
#search_form .submit
{
  background: transparent url('../images/ico/search-kl.png');
  width: 22px;
  height: 22px;
  border: 0; outline: 0;
  position: absolute;
  right: 8px;
  margin: 8px 6px 0 0;
  cursor: pointer;
}
#search_form .selection
{
  position: absolute;
  right: 50px; top: 55px;
  font-family: AauxNextBold, "Segoe UI", Arial, sans-serif;
  font-size: 14px;
  color: #868f98;
  cursor: pointer;
  background:  url('../images/ico/dropdown.png') no-repeat right;
  padding-right: 10px;
  text-align: right;
  width: 65px;
  height: 29px; line-height: 29px;
  display: block;
  opacity: 0.85;
  z-index: 800;
}
#search_form .selection > span { text-transform: uppercase;}
#search_form .box
{
  background: #101618;
  width: 80px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: absolute;
  right: -26px;
  top: 26px;
  text-align: left;
  z-index: 9999;
  display: none;
}
#search_form .box .arr
{
  background: url('../images/ico/arr-top.png');
  position: absolute;
  width: 19px; height: 8px;
  top: -8px; right: 20px;
}
#search_form .box li
{
  height: 25px; line-height: 25px;
  /*border-bottom: 1px solid #020303;
  border-top: 1px solid #1c262a;*/
  padding: 0 10px;
  color: White;
  cursor: pointer;
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}
#search_form .box li:hover { background: #202c30;}
#search_form .box li:first-child 
{ 
  border-top: 0;
  line-height: 27px; 
  -webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
  font-family: AauxNextBold, "Segoe UI", Arial, sans-serif;
}
#search_form .box li:last-child 
{
  border-bottom: 0; 
  line-height: 23px; 
  -webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
}
#predefinedTab { display: none; }

.headline
{
  color: #363d3f;
  font-size: 32px;
  overflow: hidden;
  vertical-align: middle;
}
.headline, .headline span
{
  font-family: AauxNextLight, "Segoe UI", Arial, sans-serif!important;
}
.headline.small
{
  font-size: 24px;
  margin-bottom: 12px;
}
.navigation { margin-bottom: 40px; height: 15px; line-height: 15px; position: relative; }
.navigation li
{
  float: left;
  color: #7d8791;
  margin-right: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.navigation li:hover { color: #5d666e; }
.navigation li.active:hover { color: #7d8791; }
.navigation .active { font-family: AauxNextBold, "Segoe UI", Arial, sans-serif; cursor: default!important; }

.navigation.sub { margin-bottom: 15px; height: 30px; line-height: 30px; margin-top: -10px;}
.navigation.sub li
{
  float: left;
  color: #bbc3ca;
  margin-right: 15px;
  cursor: pointer;
  font-size: 24px;
  text-transform: none;
  font-family: AauxNextLight, "Segoe UI", Arial, sans-serif;
}
.navigation.sub li:hover { color: #68727c; }
.navigation.sub .active { color: #7d8791; font-family: AauxNextLight, "Segoe UI", Arial, sans-serif; }

.artists { overflow: hidden; }
.artists li
{
  width: 252px;
  height: 166px;
  overflow: hidden;
  float: left;
  position: relative;
  margin-right: 10px;
}
.artists .borderwrap, #artist .borderwrap
{
  background: url('../images/bg/artist-corner.png') no-repeat;
}
#artist .side .borderwrap { z-index:200; background-position: -652px 0!important;}
.artists.small .borderwrap { background-position: -252px 0!important;}
.artists.ultrasmall .borderwrap { background-position: -482px 0!important;}
.artists li:last-child { margin-right: 0;}

.artists.small li, .artists.small li div
{
  width: 230px;
  height: 152px;
}
.artists.ultrasmall li, .artists.ultrasmall li div
{
  width: 170px;
  height: 112px;
}
.artists img { position: absolute; float: left;}

.artists p
{
  background: url('../images/bg/artist-balken.png') repeat-x;
  color: White;
  font-size: 16px;
  height: 38px;
  padding: 8px 10px 0 10px;
  line-height: 14px;
  font-family: AauxNextBold, "Segoe UI", Arial, sans-serif; 
  display: inline-block;
  width: 232px;
  position: absolute;
  bottom: 0;
}
.artists.small li, .artists.ultrasmall li { margin-bottom: 15px; }
.artists.small p { width: 210px; }
.artists.ultrasmall p { width: 150px;}
.artists p span
{
  font-size: 11px;
  font-weight: normal;
  color: #c5ced4;
}

.related .artists li { margin-right: 6px; }
.related .artists li:first-child { background-position: 0 0; }

#search_all
{
  overflow: hidden;
}

.songs li
{
  height: 32px; line-height: 32px;
  border-bottom: 1px dotted #dce2e6;
  font-size: 12px;
  width: 465px;
}
.songs.short li { width: 395px; }
.songs.long li { width: 530px; }
.songs.tab { overflow: hidden; }
.songs.tab li { float: left; margin-right: 20px; }
.songs li span 
{ 
  color: #2d3135; 
  margin-left: 10px;
}
.songs.long li span { color: #027bbf; }
.songs li img { vertical-align: middle; }
.songs a:hover, .albums a:hover { color: #505861;}
.songs .play, .songs .add { cursor: pointer; }


#search_all_artists { float: left; }
#search_all_songs { float: right; }
#search_all_albums { float: left; width: 514px; }

.albums li 
{
  float: left;
  width: 233px;
  margin-bottom: 15px;
}
.albums.wide li { width: 257px; }
.albums .img 
{ 
  background: url('../images/bg/fuse.png') -294px 0 no-repeat; 
  width: 77px; height: 65px;
  margin-right: 6px;
  float: left;
  margin-top: 3px;
}
.albums img { margin-left: 16px; width: 54px; height: 54px; }
.albums span { color: #2e353c;}
.albums sub { color: #99a4ad; font-size: 11px;}

.more img
{
  margin: 0 auto;
  display: block;
}
div[wheel] > div { display: none; opacity: 0.0; position: relative; }


#artist .side { float: left; width: 400px; z-index: 99;}
#artist .side .img
{
  width: 439px;
  height: 241px;
 /*background: url('../images/bg/fuse.png') -401px 160px no-repeat;*/
  overflow: hidden;
  position: relative;
}
#artist .side .img div:first-child
{
  width: 363px;
  height: 241px;
  position: relative;
  overflow: hidden;
}
#artist .side .img img { z-index: 100; position: absolute;}
#artist .description{ width: 363px; font-size: 12px; }
#artist .description a {text-decoration: underline; }
#artist .description .tags, #artist .description .tags a { color: #2e353c; text-decoration: none;}
#artist .main
{
  float: right;
  width: 550px;
  position: relative;
  top: -8px;
  z-index: 88;
}
#artist .main_content
{
  margin-left: 20px;
}

#artist .gallery img
{
  float: left;
}
#artist .gallery a
{
  margin-right: 5px;
  overflow: hidden;
  padding: 7px;
  border: 1px solid #e9edf0;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}
#artist .gallery a:hover { border-color: #cfd5da; }
#artist .gallery .fscreen
{
  position: absolute;
  left: 19px;
  top: 7px;
  display: none;
}

.overlay
{
  background: rgba(255,255,255,0.6);
  padding: 7px;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
  width: 488px;
	display: none;
}
.overlay > div
{
  background: #1a1c1f;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.overlay .content 
{
  padding: 10px;
}
.overlay .close
{
	position: absolute;
	right: 134px; top: 21px;
  cursor: pointer;
  z-index: 9999;
}

#overlayGallery .close { right: 106px;}
#overlayGallery
{
  width: 272px;
	display: none;
}
#overlayGallery .content img { float: left; }
#overlayGallery .content 
{ 
  overflow: hidden;
  width: 252px;
  min-height: 150px;
  background: #0d1213 url('../images/placeholder/gallery.png') no-repeat center;
}
#overlayGallery .original 
{
  position: absolute;
  bottom: 25px; margin-left: -48px;
  display: none;
}
.blockUI.blockMsg.blockPage { margin-left: -136px;}
/*
.overlay
{
  background: rgba(255,255,255,0.6);
  padding: 7px;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
  width: 488px;
	display: none;
}
.overlay > div
{
  background: #1a1c1f;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.overlay .content 
{
  padding: 10px;
}
.overlay .close
{
	position: absolute;
	right: 134px; top: 20px;
  cursor: pointer;
  z-index: 9999;
}

#overlayGallery .close { right: 76px;}
#overlayGallery
{
  width: 600px;
	display: none;
	margin-left: -300px;
}
#overlayGallery .content img { float: left; }
#overlayGallery .content { 
  overflow: hidden;
  width: 580px;
  min-height: 150px;
  background: #0d1213 url('../images/placeholder/gallery.png') no-repeat center;
}

*/





.overlay.album .side
{
  background: #0d1213;
  float: left;
  width: 150px;
  border-right: 1px solid #020303;
  min-height: 150px;
  -webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
  padding: 10px;
}
.overlay.album .side img { width: 150px; height: 150px; z-index: 10000; }
.overlay.album .side h3
{
  color: White;
  font-size: 18px;
  margin-top: 10px;
}
.overlay.album .side h4 { margin-bottom: 15px; color: #2f3439; }
.overlay.album .side p { font-size: 12px; margin-bottom: 20px; color: #2f3439; }
.overlay.album .mid
{
  width: 317px;
  float: right;
}
.overlay.album .mid li img { display: none;}
.overlay.album .mid li
{
  width: 317px; 
  border-bottom: 1px solid #020303;
  border-top: 1px solid #1c262a;
  color: #2f3439;
  padding-left: 10px;
  font-family: AauxNextBold, "Segoe UI", Arial, sans-serif;
}
.overlay.album .mid li span { color: White; font-family: AauxNextMedium, "Segoe UI", Arial, sans-serif;}
.overlay.album .mid li:first-child { border-top: 0; }
.overlay.album .mid li:last-child { border-bottom: 0; }








.navigate
{
  width: 44px;
  height: 20px;
  float: left;
  margin-top: 5px;
  padding-left: 10px;
}
.navigate .left, .navigate .right
{
  width: 20px;
  height: 20px;
  background: url('../images/ico/navigate.png') 0 0;
  cursor: pointer;
}
.navigate .right { background-position: -24px 0;}
.blocked
{
  opacity: 0.5;
  cursor: default!important;
}

#home .bottom hr
{
  margin-top: 40px;
  background: White;
  height: 1px;
  border: 0;
}
#home .bottom { font-size: 12px; }
#home .bottom a
{
  margin-left: 10px;
  color: #cbd3d9;
}
#home .bottom a:first-child { margin-left: 20px;}
#home .bottom a:hover
{
  color: #40474c;
}




/*********** PLAYER ***********/
#player
{
  width: 880px;
  height: 56px;
  background: transparent url('../images/bg/player.png');
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -475px;
  padding: 81px 35px 0 35px;
  z-index: 800;
}
#player #song
{
  width: 200px;
  padding: 0 15px;
  color: #fff;
  font-size: 12px;
  margin-top: 12px;
  height: 44px;
  float: left;
}
#player #song:first-line { font-size: 14px;}
#player #song span { color: #424e54; }
#player #controls, #player #controls a { float: left; }
#player #controls { margin-top: 7px; }
#player .backward, #player .forward, #player .play
{
  text-indent: -9999px;
  width: 32px; height: 32px;
  display: inline-block;
  background: url('../images/ico/player-controls.png') 0 0;
  margin-top: 5px;
}
#player .forward { background-position: -32px 0;}
#player .backward:active { background-position: 0 -32px;}
#player .forward:active { background-position: -32px -32px;}
#player .play
{
  width: 41px; height: 41px;
  background-position: -64px 0;
  margin-top: 0;
}
#player .play.pause { background-position: -64px -41px; }










/* slider root element */
#scrubbar .slider, #volume .slider
{ 
	background: url('../images/bg/progress-bar.png');
	position: relative; 
	cursor: pointer;
	width: 216px; height: 15px; 
	float: left; 
	clear: right;
	margin: 21px 0 20px 40px;
}

/* progress bar (enabled with progress: true) */
#scrubbar .progress, #volume .progress {
	height: 15px; width: 216px; 
	background: url('../images/bg/progress-bar-overlay.png'); 
	position: absolute;
}

/* drag handle */
#scrubbar .handle, #volume .handle { 
	background: url('../images/ico/drag-handle.png');
	width: 16px; height: 18px;
	position:absolute; 
	display:block; 
	cursor: pointer;
}

/* the input field */
#scrubbar .range, #volume .range { display: none; }

#scrubbar .time
{
  float: left;
  color: White;
  font-size: 11px;
  position: relative;
  margin: 21px 0 0 7px;
}

#volume
{
  position: absolute;
  right: 153px;
  top: 70px;
  display: none;
}
#volume .handle { margin-left: -1px;}
#volume .slider
{
  height: 70px; width: 15px;
  background: url('../images/bg/volume-bar.png');
  margin: 0;
  margin-top: -50px;
}
#volume .progress
{
  height: 70px; width: 15px;
  background: url('../images/bg/volume-bar-overlay.png');
  bottom: 1px;
}

#icons { float: right;}
#icons a
{
  float: left;
  margin-left: 20px;
  height: 56px; line-height: 58px;
}

#videoDiv, #ytPlayer
{
  float: left;
  width: 50px; height: 28px;
}
#ytPlayer { margin-top: 15px;}
