@charset "utf-8";
/** FONTS **/
@font-face{ 
	font-family: AauxNextLight;
	src: url('../fonts/aauxnext/aauxnext-lt-webfont.eot');
	src: local('☺'),
       url('../fonts/aauxnext/aauxnext-lt-webfont.ttf') format("truetype"),
       url('../fonts/aauxnext/aauxnext-lt-webfont.otf') format("opentype"),
       url('../fonts/aauxnext/aauxnext-lt-webfont.woff') format("woff"),
	     url('../fonts/aauxnext/aauxnext-lt-webfont.svg#webfont') format("svg");
}
@font-face{ 
	font-family: AauxNextMedium;
	src: url('../fonts/aauxnext/aauxnext-md-webfont.eot');
	src: local('☺'),
       url('../fonts/aauxnext/aauxnext-md-webfont.ttf') format("truetype"),
       url('../fonts/aauxnext/aauxnext-md-webfont.otf') format("opentype"),
       url('../fonts/aauxnext/aauxnext-md-webfont.woff') format("woff"),
	     url('../fonts/aauxnext/aauxnext-md-webfont.svg#webfont') format("svg");
}
@font-face{ 
	font-family: AauxNextBold;
	src: url('../fonts/aauxnext/aauxnext-bd-webfont.eot');
	src: local('☺'),
       url('../fonts/aauxnext/aauxnext-bd-webfont.ttf') format("truetype"),
       url('../fonts/aauxnext/aauxnext-bd-webfont.otf') format("opentype"),
       url('../fonts/aauxnext/aauxnext-bd-webfont.woff') format("woff"),
	     url('../fonts/aauxnext/aauxnext-bd-webfont.svg#webfont') format("svg");
}

/** STANDARDS **/
body
{
    background: #f6f9fb url('../images/bg/overall.png') repeat-x top;
    /* background: white; */
    font-size: 14px;
    color: #7d8791;
}
* html body { text-align: center; }
.clean { clear: both; }
.left { float: left; }
.right { float: right; }
* { font-family: AauxNextMedium, "Segoe UI", Arial, sans-serif; }
.light { font-family: AauxNextLight, "Segoe UI", Arial, sans-serif; }
.medium { font-family: AauxNextMedium, "Segoe UI", Arial, sans-serif; }
.bold, b, strong { font-family: AauxNextBold, "Segoe UI", Arial, sans-serif; }

a { text-decoration: none; color: #7d8791; }

.blue { color: #027bbf!important; }


/** SITE **/
#site
{
  position: relative;
  width: 950px;
  margin: 0 auto;
}
#head { height: 140px; }
#head h1 { padding-top: 60px; float: left; }
#search_form { position: relative; }
#search_form .wrap
{
  width: 300px;
  height: 28px;
  margin-top: 60px;
  border: 1px solid #e9eef2;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  overflow: hidden;  
}
#search_form .input
{
  height: 18px;
  width: 190px;
  border: 0;
  margin-top: 5px;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  padding-left: 15px;
  cursor: text;
}
#search_form .input:focus { outline: 0!important;}
#search_form .submit
{
  background: transparent url('../images/ico/search-kl.png');
  width: 22px;
  height: 27px;
  border: 0; outline: 0;
  position: absolute;
  right: 8px;
  margin-top: 1px;
  cursor: pointer;
}
#search_form .selection
{
  position: absolute;
  right: 40px; top: 61px;
  font-family: AauxNextBold, "Segoe UI", Arial, sans-serif;
  font-size: 11px;
  color: #868f98;
  cursor: pointer;
  background:  url('../images/ico/dropdown.png') no-repeat right;
  padding-right: 10px;
  text-align: right;
  width: 50px;
  height: 29px; line-height: 29px;
  display: block;
}
#search_form .selection > span { text-transform: uppercase;}
#search_form .box
{
  background: #101618;
  width: 80px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: absolute;
  right: -26px;
  top: 26px;
  text-align: left;
  z-index: 9999;
  display: none;
}
#search_form .box .arr
{
  background: url('../images/ico/arr-top.png');
  position: absolute;
  width: 19px; height: 8px;
  top: -8px; right: 20px;
}
#search_form .box li
{
  height: 25px; line-height: 25px;
  /*border-bottom: 1px solid #020303;
  border-top: 1px solid #1c262a;*/
  padding: 0 10px;
  color: White;
  cursor: pointer;
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}
#search_form .box li:hover { background: #202c30;}
#search_form .box li:first-child 
{ 
  border-top: 0;
  line-height: 27px; 
  -webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
  font-family: AauxNextBold, "Segoe UI", Arial, sans-serif;
}
#search_form .box li:last-child 
{
  border-bottom: 0; 
  line-height: 23px; 
  -webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
}

.headline
{
  color: #7d8791;
  font-family: AauxNextLight, "Segoe UI", Arial, sans-serif;
  font-size: 32px;
}
.headline.small
{
  font-size: 24px;
  margin-bottom: 12px;
}
.navigation { margin-bottom: 40px; height: 15px; line-height: 15px; position: relative; }
.navigation li
{
  float: left;
  color: #7d8791;
  margin-right: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.navigation li:hover { color: #5d666e; }
.navigation li.active:hover { color: #7d8791; }
.navigation .active { font-family: AauxNextBold, "Segoe UI", Arial, sans-serif; cursor: default!important; }

.navigation.sub { margin-bottom: 15px; height: 30px; line-height: 30px; margin-top: -10px;}
.navigation.sub li
{
  float: left;
  color: #bbc3ca;
  margin-right: 15px;
  cursor: pointer;
  font-size: 24px;
  text-transform: none;
  font-family: AauxNextLight, "Segoe UI", Arial, sans-serif;
}
.navigation.sub li:hover { color: #68727c; }
.navigation.sub .active { color: #7d8791; font-family: AauxNextLight, "Segoe UI", Arial, sans-serif; }

.artists li
{
  width: 126px;
  height: 123px;
  background: url('../images/bg/fuse.png') 0 0;
  float: left;
  margin: 0 11px 20px 0;
}
.artists div { position: relative; width: 126px; height: 81px; overflow: hidden; }
.artists img { float: left; }
.artists p
{
  color: White;
  font-size: 12px;
  height: 23px; line-height: 23px;
  text-indent: 10px;
  font-family: AauxNextBold, "Segoe UI", Arial, sans-serif; 
  display: inline-block;
  width: 100%;
}
.artists li:first-child { background-position: -126px 0; }

.related .artists li { margin-right: 6px; }
.related .artists li:first-child { background-position: 0 0; }

#search_all
{
  overflow: hidden;
}

.songs li
{
  height: 32px; line-height: 32px;
  border-bottom: 1px solid #e9edf0;
  font-size: 12px;
  width: 465px;
}
.songs.tab { overflow: hidden; }
.songs.tab li { float: left; margin-right: 20px; }
.songs li span 
{ 
  color: #2d3135; 
  margin-left: 5px;
}
.songs li img { vertical-align: middle; }
.songs a:hover, .albums a:hover { color: #505861;}


#search_all_songs { float: left; }
#search_all_albums { float: right; width: 468px; }

.albums li 
{
  float: left;
  width: 233px;
  margin-bottom: 15px;
}
.albums .img 
{ 
  background: url('../images/bg/fuse.png') -294px 0 no-repeat; 
  width: 77px; height: 65px;
  margin-right: 6px;
  float: left;
  margin-top: 3px;
}
.albums img { margin-left: 16px; width: 54px; height: 54px; }
.albums span { color: #2e353c;}
.albums sub { color: #99a4ad; font-size: 11px;}

.more img
{
  margin: 0 auto;
  display: block;
}
div[wheel] > div { display: none; opacity: 0.0; position: relative; }

#artist .side { float: left; width: 400px;}
#artist .side .img
{
  width: 439px;
  height: 281px;
  background: url('../images/bg/fuse.png') -401px 160px no-repeat;
  overflow: hidden;
}
#artist .side .img div
{
  width: 363px;
  height: 241px;
  position: relative;
  overflow: hidden;
}
#artist .description { width: 363px; font-size: 12px; }
#artist .description a {text-decoration: underline; }
#artist .description span, #artist .description span a { color: #2e353c; text-decoration: none;}
#artist .main
{
  float: right;
  width: 550px;
  position: relative;
  top: -8px;
}
#artist .main_content
{
  margin-left: 20px;
}

#artist .gallery img
{
  padding: 7px;
  border: 1px solid #e9edf0;
  display: inline;
  vertical-align: bottom;
  margin-bottom: 10px;
}
#artist .gallery a
{
  margin-right: 5px;
  vertical-align: bottom;
}

.overlay
{
  background: rgba(255,255,255,0.6);
  padding: 7px;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
  width: 488px;
	display: none;
}
.overlay > div
{
  background: #1a1c1f;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.overlay .content 
{
  padding: 10px;
}
.overlay .close
{
	position: absolute;
	right: 134px; top: 20px;
  cursor: pointer;
  z-index: 9999;
}

#overlayGallery .close { right: 241px;}
#overlayGallery
{
  width: 272px;
	display: none;
	margin-left: -136px;
}
#overlayGallery .content img { float: left; }
#overlayGallery .content 
{ 
  overflow: hidden;
  width: 252px;
  min-height: 150px;
  background: #0d1213 url('../images/placeholder/gallery.png') no-repeat center;
}
#overlayGallery .original 
{
  position: absolute;
  bottom: 25px; margin-left: -48px;
  display: none;
}
/*
.overlay
{
  background: rgba(255,255,255,0.6);
  padding: 7px;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);
  width: 488px;
	display: none;
}
.overlay > div
{
  background: #1a1c1f;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.overlay .content 
{
  padding: 10px;
}
.overlay .close
{
	position: absolute;
	right: 134px; top: 20px;
  cursor: pointer;
  z-index: 9999;
}

#overlayGallery .close { right: 76px;}
#overlayGallery
{
  width: 600px;
	display: none;
	margin-left: -300px;
}
#overlayGallery .content img { float: left; }
#overlayGallery .content { 
  overflow: hidden;
  width: 580px;
  min-height: 150px;
  background: #0d1213 url('../images/placeholder/gallery.png') no-repeat center;
}

*/





.overlay.album .side
{
  background: #0d1213;
  float: left;
  width: 150px;
  border-right: 1px solid #020303;
  min-height: 150px;
  -webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
  padding: 10px;
}
.overlay.album .side img { width: 150px; height: 150px; z-index: 10000; }
.overlay.album .side h3
{
  color: White;
  font-size: 18px;
  margin-top: 10px;
}
.overlay.album .side h4 { margin-bottom: 15px; color: #2f3439; }
.overlay.album .side p { font-size: 12px; margin-bottom: 20px; color: #2f3439; }
.overlay.album .mid
{
  width: 317px;
  float: right;
}
.overlay.album .mid li img { display: none;}
.overlay.album .mid li
{
  width: 317px; 
  border-bottom: 1px solid #020303;
  border-top: 1px solid #1c262a;
  color: #2f3439;
  padding-left: 10px;
  font-family: AauxNextBold, "Segoe UI", Arial, sans-serif;
}
.overlay.album .mid li span { color: White; font-family: AauxNextMedium, "Segoe UI", Arial, sans-serif;}
.overlay.album .mid li:first-child { border-top: 0; }
.overlay.album .mid li:last-child { border-bottom: 0; }