EDIT - Settings
= form_for user, :url => {:action=>"update"} do |f|
  =f.text_field :username
  =f.submit "Save"
= form_for user, :url => {:action=>"update"}, :html => {:multipart=>true} do |f|
  =f.file_field :avatar
  =f.submit "Save"