%ul#top_artist
  - for file in @files
    %li= image_tag "startsite/"+File.basename(file)
%ul#top_artist_nav
  %li= link_to image_tag("startsite/small/beatles.jpg"),"", :class=>"ll dir"
  %li= image_tag "startsite/small/katy-perry.jpg", :class=>"cc"
  %li= link_to image_tag("startsite/small/coldplay.jpg"),"", :class=>"rr dir"
#search_home
%br.clean
#home_foot
  .right
